* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}
/*header*/

header, #headerbutton, .dropdown-menu {
    background-color: black;
}
.navbar-brand {
	width: 20%;
	margin-right: 5px;
}

.navbar-brand img {
	max-width: 60%;
}
#imgProfile {
    max-width: 30%;
}
#divRightHeader {
    width: 20%;
}
.imgdrop {
    width: 30%;
}



/*profile*/

h1 {
    font-size: 60px;
}

input {
    background-color: lightgrey;
}

input:focus {
    background-color:white !important; 
}

input::placeholder {
    color: black !important;
}


